@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(./assets/fonts/Lato-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(./assets/fonts/Lato-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(./assets/fonts/Lato-Black.woff) format('woff');
}

/*Задаем переменные для дальнейшего удобства*/
:root {
  --menu-color-text: #fff; /* Цвет текста меню */
  --slider-light: #f06c64; /* Цвет фона слайдера */
  --slider-bg-button: #ce5d56; /* Цвет линии в слайдере */
  --menu-bg-color: #2d303a; /* Цвет фона меню */
  --menu-bg-button: #323746; /* Цвет линии в headere */
  --services-bg-color: #f2f2f2; /* Цвет фона , пока в разделе сирвисы */
  --services-bg-button: #ffffff; /* Цвет линии в сервисах */
  --services-text: #666d89; /* Цвет текста контента, пока в разделе сервисы */
  --shadow-image: #ce5d56; /* Цвет теней для картинок в слайдере */

}

*{
	margin:0;
	padding:0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper{
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
	/* padding: 0 40px; */
}


.header{
  padding: 32px 0 32px;
  background-color: var(--menu-bg-color);
  border-bottom: solid 6px var(--menu-bg-button);
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header_logo h1{
	color: var(--menu-color-text);
	font-size: 25px;
	font-weight: 700;
	line-height: 1;
  letter-spacing: -.55px;
}

.header_logo a {
  color: var(--menu-color-text);
	text-decoration: none;
}

.header_menu_container a{
	color: var(--menu-color-text);
	text-decoration: none;
	text-transform: uppercase;
	display:inline-block;
}

.header_menu_container a:hover{
  color: var(--slider-light);
}

.header_menu_container{
	display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header_logo_star{
  color:var(--slider-light);
  visibility: hidden;
}

.header_logo a:hover .header_logo_star{
  visibility:visible; 
}

.header_menu {
	display:flex;
  float:right;
  font-size: 12px;
  font-weight: 600;
  margin-right: 49px;
 
}

.header_menu_list{
	list-style: none;
	display:inline-block;
	margin-right: 29px;
  cursor: pointer;
  transition: color .2s linear;
  position: relative;
}

.header_menu_list::after{
  content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
}

.slider {
  height: 594px;
  background-color: var(--slider-light);
  border-bottom: solid 6px var(--slider-bg-button);
}

.slider_container { 
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  /*height: 100%;*/
  margin: auto;
  /*max-width: 990px;*/
  padding-top: 30px;
}	

.prev_img{
  float: left;
  margin-left: 1px;
  margin-top: 40px;
  cursor: pointer;
}

.next_img{
  float: right;
  margin-top: 40px;
  cursor: pointer;
}

.ver_img{
  padding: 73px 0 0 2px;
  padding: 10px;
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 53px;
}

.img2 { 
  height: 217px;
  border-radius: 25px 50px 15px 50px;
  background-color: var(--shadow-image);
  box-shadow: 15px 14px 0px 10px var(--shadow-image);
}

.img3 { 
  height: 458px;
  border-radius: 25px 50px 22px 50px;
  background-color: var(--shadow-image);
  box-shadow: 13px 14px 0px 12px var(--shadow-image);
}

.hor_img{
  padding: 15px 80px 0 65px;
}

.services{
  padding: 60px 0 41px;
  color: var(--services-text);
  background-color: var(--services-bg-color);
  padding-right: 79px;
  border-bottom: solid 6px var(--services-bg-button);
  height: 396px;	
}

.services_title{
  margin-bottom: 18px;
  font-size: 31px;
  font-weight: 900;
  word-spacing: -0.5px;
  letter-spacing: -0.2px;
  margin-left: 39px;
}

.title_p{
  margin-left: 40px;
  /*margin-right: 50px;*/
  margin-bottom: 41px;
  font-size: 17px;
  /*font-weight: 100;*/
  color: #767e9e;
  line-height: 30px;
  letter-spacing: 0.09px;
  word-spacing: 1.5px;
}
.services_feature{
	display: flex;
	flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-left: 33px;
}

.feature{
  display: flex;
	width:33%;
  max-width: 320px;
	max-height: 93px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.feature_logo{
	display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 60px;
  padding: 4px;
  max-width: 67px;
  margin-bottom: 20px;
  /*margin-left: 3px;*/
}

.feature_title{
  margin-top: 1px;
	margin-bottom: 9px;
  font-size: 18px;
  font-weight: 800;
}

.feature_description{
  margin-left: 11px;
}

.feature_p{
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  width: 219px;
} 

.second_line{
  letter-spacing: initial;
}

