@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lato Thin'), local('Lato-Thin'), url(./assets/fonts/Lato-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(./assets/fonts/Lato-Light.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(./assets/fonts/Lato-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(./assets/fonts/Lato-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(./assets/fonts/Lato-Black.woff) format('woff');
}


/*Задаем переменные для дальнейшего удобства*/
:root {
  --menu-color-text: #fff; /* Цвет текста меню */
  --slider-light: #f06c64; /* Цвет фона слайдера */
  --slider-bg-button: #ce5d56; /* Цвет линии в слайдере */
  --menu-bg-color: #2d303a; /* Цвет фона меню */
  --menu-bg-button: #323746; /* Цвет линии в headere */
  --services-bg-color: #f2f2f2; /* Цвет фона , пока в разделе сирвисы */
  --services-bg-button: #ffffff; /* Цвет линии в сервисах */
  --services-text: #666d89; /* Цвет текста контента, пока в разделе сервисы */
  --shadow-image: #ce5d56; /* Цвет теней для картинок в слайдере */
  --primary-light-bottom: #ea676b;
  --secondary-dark-bottom: #323645;
  --contacts-text-color: #f0d8d9;
  --input-bg-color: #d6564f;
  --input-text-color: #f48c8f;
 /* --facebook-bg-color: #102195;
  --google-bg-color: #dc0c0c;
  --twitter-g-color: #08acdf;
  --linkedin-bg-color: #2897cf; */
}

*{
	margin:0;
	padding:0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper{
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
}


.header{
  padding: 32px 0 30px;
  background-color: var(--menu-bg-color);
  border-bottom: solid 6px var(--menu-bg-button);
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header_logo h1{
	color: var(--menu-color-text);
	font-size: 25px;
	font-weight: 700;
	line-height: 1;
  letter-spacing: -.55px;
}

.header_logo a {
  color: var(--menu-color-text);
	text-decoration: none;
}

.header_menu_container a{
	color: var(--menu-color-text);
	text-decoration: none;
	text-transform: uppercase;
	display:inline-block;
}

.header_menu_container a:hover{
  color: var(--slider-light);
}

.header_menu_container{
	display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header_logo_star{
  color:var(--slider-light);
  visibility: hidden;
}

.header_logo a:hover .header_logo_star{
  visibility:visible; 
}

.header_menu {
	display:flex;
  float:right;
  font-size: 12px;
  font-weight: 600;
  margin-right: 50px;
  margin-top: 11px; 
}

.header_menu_list{
	list-style: none;
	display:inline-block;
	margin-right: 29px;
  cursor: pointer;
  transition: color .2s linear;
  position: relative;
}

.header_menu_list::after{
  content: "";
  background-color: #434759;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
}

.slider {
  height: 594px;
  background-color: var(--slider-light);
  border-bottom: solid 6px var(--slider-bg-button);
}

.slider_container { 
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 30px;
}	

.prev_img{
  float: left;
  margin-left: 1px;
  margin-top: 40px;
  cursor: pointer;
}

.next_img{
  float: right;
  margin-top: 40px;
  cursor: pointer;
}

.ver_img{
  padding: 73px 0 0 2px;
  padding: 10px;
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 53px;
}

.img2 { 
  height: 217px;
  border-radius: 25px 50px 15px 50px;
  background-color: var(--shadow-image);
  box-shadow: 15px 14px 0px 10px var(--shadow-image);
}

.img3 { 
  height: 458px;
  border-radius: 25px 50px 22px 50px;
  background-color: var(--shadow-image);
  box-shadow: 13px 14px 0px 12px var(--shadow-image);
}

.hor_img{
  padding: 15px 80px 0 65px;
}

.services{
  padding: 60px 0 41px;
  color: var(--services-text);
  background-color: var(--services-bg-color);
  padding-right: 79px;
  border-bottom: solid 6px var(--services-bg-button);
  height: 396px;
}

.services_title{
  margin-bottom: 18px;
  font-size: 31px;
  font-weight: 900;
  word-spacing: -0.5px;
  letter-spacing: -0.2px;
  margin-left: 39px;
}

.title_p{
  margin-left: 40px;
  margin-bottom: 41px;
  font-size: 17px;
  color: #767e9e;
  line-height: 30px;
  letter-spacing: 0.09px;
  word-spacing: 1.5px;
}
.services_feature{
	display: flex;
	flex-wrap: wrap;
  padding-left: 33px;
}

.feature{
  display: flex;
	width:33%;
  max-width: 320px;
	max-height: 93px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.feature_logo{
	display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 60px;
  padding: 4px;
  max-width: 67px;
  margin-bottom: 20px;
}

.feature_title{
  margin-top: 1px;
	margin-bottom: 9px;
  font-size: 18px;
  font-weight: 800;
}

.feature_description{
  margin-left: 11px;
}

.feature_p{
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  width: 219px;
} 

.second_line{
  letter-spacing: initial;
}

.wrapper_inner{
  width:960px;
}

.portfolio{
  background-color: var(--menu-bg-color);
  height: 864px;
  color: var(--services-text);
  border-bottom: 6px solid var(--menu-bg-button);
}

.portfolio_title{
  padding-top: 62px;
  font-size: 31px;
  font-weight: 800;
  letter-spacing: -0.1px;
}

.portfolio_title_p{
  padding-top: 21px;
  font-size: 19px;
  letter-spacing: -0.73px;
  font-weight: 400;
}

.filter_web:active {
  color:var(-menu-color-text);
  border-color:var(-menu-color-text);
}

.gallery_group_buttons{
  padding-top: 12px;
  padding-bottom: 19px;
}

.gallery_filter{
  margin-left: 4px;
  padding: 3px 7px 3px 6px;
  border: 1px solid #767e9e;
  color: #767e9e;
  border-radius: 5px;
  background-color: #2d303a;
  height: 22px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}

.active_button{
  margin-left: 1px;
  margin-right: 1px;
  color:var(--menu-color-text);
  border-color: var(--menu-color-text);
}

.gallery_img{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.artwork, .web_design, .graphic_design{
  padding-right: 20px;
  padding-bottom: 15px;
}

img:hover{
  opacity: 0.6;
}

.about_us {
  height: 727px;
  background-color: var(--services-bg-color);
  color: var(--services-text);
  border-bottom: solid 6px var(--service-bg-button);
}

.about_us_title{
  padding-top: 62px;
  margin-left: 1px;
  font-size: 30px;
  font-weight: 800;
}

.about_description_p{
  padding-top: 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

.our_humans{
  padding-top: 42px;
  display:flex;
  flex-wrap: wrap;
}

.human{
  width: 33%;
  max-width: 302px;
  padding-right: 17px;
}

.human_info{
  padding-top: 11px;
  font-size: 15px;
}

.human_photo{
  height:300px;
  width:300px;
}

.human_title{
  margin-left: -1px;
  font-size: 18.09px;
  font-weight: 900;
}

.human_description_p{
  padding-top: 8px;
  font-size: 12px;
  text-align: justify;
  line-height: 21px;
}

.human_social_links{
  padding-top: 21px;
}

.socials_icons{
  padding-right:2px;
}


.quots_contacts{
  background-color: var(--slider-light);
  border-bottom: 6px solid var(--primary-light-bottom);
  color: var(--contacts-text-color);
  height: 648px;
}

.quots_contacts_title{
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
  text-align: left;
  padding-top: 72px;
  padding-bottom: 25px;
}

.quots_contacts_description{
  width: 970px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  padding-bottom: 45px;
  word-spacing: -0.1px;  
  }

.quots{
  display: flex;
}  

form{
  max-width: 606px;
  width: 66%;
  height: 444px;
  padding-right: 34px;
  display: flex;
  flex-direction: column;
}   

.form_input{
  width: 603px;
  height: 40px;
  padding-left: 16px;
  background-color: var(--input-bg-color);
  border: 0;
  border-radius: 5px;
  font-size: 11px;
  line-height: 22px;
  color: var(--input-text-color);
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
}

.describe_text{
  padding-top: 7px;
  padding-left: 18px;
  width: 602px;
  height: 204px;
  background-color: var(--input-bg-color);
  border: 0;
  border-radius: 5px;
  font-size: 11px;
  line-height: 22px;
  color: var(--input-text-color);
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
  resize: none;
}

.form_button{
  width: 150px;
  height:50px;
  padding-left: 0;
  background-color: var(--services-bg-color);
  color: var(--input-bg-color);
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.contacts{
  width: 33%;
  max-width: 301px;
}

.contacts_title{
  font-size: 18.1px;
  margin: 0px 1px 0px;
  line-height: 20px;
  font-weight: 900;
}

.contacts_description{
  padding-top: 8px;
  line-height: 1.85em;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  text-align: justify;
  word-spacing: -1.1px;
}

.contacts-information{
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

.adress, .phone, .email{
  width: 100%;
  max-width: 301px;
  font-size: 12px;
  padding-bottom: 8px;
}

.adress .contact-text{
  margin-left: 11px;
  word-spacing: -0.9px;
}

.email{
  margin-top: -1px;
  margin-left: -3px;
}

.phone{
  margin-left: -1px;
  margin-top: -1px;
}

.phone .contact-text{
  word-spacing: -1.09px;
}

.adress >a, .phone >a, .email >a{
  cursor: pointer;
  margin-left: 3px;
  text-decoration: none;
  color: var(--contacts-text-color);
  font-weight: 400;
}

.contact-text{
  margin-left: 8px;
}

.footer{
  background-color: var(--menu-bg-color);
}

.copyrights_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights{
  font-size: 12px;
  font-weight: 400;
  color: var(--services-text);
  margin-top: -5px;
  margin-left: 2px;
  letter-spacing: -0.09px;
}

.social_links_icons{
  display: flex;
  width: 152px;
  justify-content: space-between;
  padding: 21px 0;
  padding-right: 79px;
}

/*img.facebook {
  border-radius: 50%;
}

img.facebook:hover  {
  background: var(--facebook-bg-color);
  color: var(--menu-color-text)
}*/
